name: Release

on:
  release:
    types:
      - published

defaults:
  run:
    working-directory: ./sdk

permissions:
  id-token: write # Needed for provenance
  packages: write # Needed to publish package to GitHub package registry
  contents: read # Needed for publishing to JSR

jobs:
  publish:
    name: Publish
    if: '!github.event.prerelease'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ./sdk/package.json
          cache: npm
          cache-dependency-path: ./sdk/package-lock.json
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Publish to NPM
        run: npm publish --provenance --access public

      - name: Setup Node.js for GitHub Packages
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ./sdk/package.json
          cache: npm
          cache-dependency-path: ./sdk/package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@sumup'

      - name: Publish to GitHub Packages
        env:
          NODE_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: npm publish --provenance --access public

      - name: Publish to JSR
        run: npx jsr publish
